@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h2 class="display-4">Expense Management System</h2>
    <br />
    <p>Record, manage & Track All your Expenses</p>
</div>
